.hCreateProd{
    color: white;
}
.hForm{
    color: black;
}
#ContCreateProd{
    background-color: rgba(188, 120, 243, 0.253);
    border: none;
    border-radius: 1em;
    padding-bottom: 3rem;
    padding-right: 3rem;
    color: white;
}